<div class="ui grid center">
  <div class="row">
    <div class="six wide column">
      <label for="color1">Color 1:</label>
      {{input
        id="color1" 
        type="color"
        max=7
        value=this.formColor0 
        change=(action "onColorChange" this.formColor0 1)
      }}
    </div>
    <div class="six wide column">
      <label for="color1">Color 2:</label>
      {{input 
        id="color2"
        type="color"
        max=7
        value=this.formColor1 
        change=(action "onColorChange" this.formColor1 2)
      }}
    </div>
  </div>
  <div class="row">
    <div class="six wide column">
      <label for="color3">Color 3:</label>
      {{input 
        id="color3"
        type="color"
        max=7
        value=this.formColor2
        change=(action "onColorChange" this.formColor2 3)
      }}
    </div>
    <div class="six wide column">
      <label for="color4">Color 4:</label>
      {{input 
        id="color4"
        type="color"
        max=7
        value=this.formColor3
        change=(action "onColorChange" this.formColor3 4)
      }}
    </div>
  </div>
  <div class="row">
    <div class="six wide column">
      <label for="color5">Color 5:</label>
      {{input 
        id="color5"
        type="color"
        max=7
        value=this.formColor4
        change=(action "onColorChange" this.formColor4 5)
      }}
    </div>
    <div class="six wide column">
      <label for="color6">Color 6:</label>
      {{input 
        id="color6"
        type="color"
        max=7
        value=this.formColor5
        change=(action "onColorChange" this.formColor5 6)
      }}
    </div>
  </div>
</div>
{{yield}}