<div class="center">
  <label for="translate">Move:</label>
  <p>
    <button 
      id="left"
      class="ui icon button"
      onClick = {{action "onXChange" 0.05}}
    >
      <i class="left arrow icon"></i>
    </button>
    <button 
      id="right"
      class="ui icon button"
      onClick = {{action "onXChange" -0.05}}
    >
      <i class="right arrow icon"></i>
    </button>
    <button 
      id="up"
      class="ui icon button"
      onClick = {{action "onYChange" -0.05}}
    >
      <i class="up arrow icon"></i>
    </button>
    <button 
      id="down"
      class="ui icon button"
      onClick = {{action "onYChange" 0.05}}
    >
      <i class="down arrow icon"></i>
    </button>
  </p>
</div>
{{yield}}